*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
     font-family: "Inter", sans-serif;
}

.main-container {
    height: auto;
    width: 375px;
    border: 1px solid none;
    padding: 20px;
    background-color: rgb(83, 193, 237);
    margin: 30px auto;
    border-radius: 12px;
}

.profile-img {
    width: 250px;
    display: block;
    margin: auto;
    border-radius: 999px;
}

.profile-name {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.profile-state {
    color: #9ca3af;
    text-align: center;
    font-weight: 600;
}

.outlines {
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.link {
    padding: 15px;
    display: block;
    text-decoration: none;
    border: 1px solid none;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 8px;
    border-radius: 12px;
    background-color: rgb(68, 167, 197);
}

.link:hover {
    background-color: white;
    color: skyblue;
}
